name: Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  prepare-next-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npx chachalog@0.4 prepare-next-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - name: Build and publish
        run: |
          corepack enable && yarn
          yarn workspaces foreach -Avv --topological-dev run build
      - run: npx chachalog@0.4 publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v4
        with:
          name: package.tgz
          path: dist/package.tgz
      - name: Attach build artifact to release
        run: |
          name=$(yarn node -p 'process.env.npm_package_name')
          version=$(yarn node -p 'process.env.npm_package_version')
          tag=$name@$version
          gh release upload $tag dist/package.tgz#$name-$version.tgz || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
